<main class="form-signin">
  <form>
    <h1 class="h3 mt-5 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input
        [formControl]="usernameOrEmail"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username or Email"
      />
      <label for="floatingInput">Username or Email</label>
    </div>
    <div class="form-floating">
      <input
        [formControl]="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="login()"
      type="submit"
    >
      Login
    </button>
    <p class="mt-5 mb-3 text-muted">© Megz books store</p>
  </form>
</main>
